# 24th February 2023
#### Variables
* A python variable is reserved memory location to store values. A variable is created the moment you assign a value to it

In [1]:
# Assignment
first_string_var="Test variable"
first_integer_var=100

In [2]:
first_integer_var+=100
print(first_integer_var)

200

In [3]:
print(type(first_integer_var))

<class 'int'>

In [4]:
# multiplying string variable with integer
print(first_string_var*5)

Test variableTest variableTest variableTest variableTest variable

#### Multiple assignments

* multiple variable can be assigned simultaneously

In [5]:
intvar, strvar, floatvar, boolvar= 1000,"This is python str variable",100.78,True

In [6]:
print(intvar, strvar, floatvar, boolvar,sep="\n")

1000
This is python str variable
100.78
True

In [7]:
print("Integer value is {} and the Boolean value is {}".format(intvar,boolvar))

Integer value is 1000 and the Boolean value is True

#### Data types
* isinstance()

In [8]:
?isinstance

In [9]:
var1=10
print(var1,"is an integer?",isinstance(var1,int))

10 is an integer? True

In [10]:
var1=10
print(var1,"is an string?",isinstance(var1,str))

10 is an string? False

In [11]:
var2=22+60j
print(var2,"is a complex number",isinstance(var2,complex))

(22+60j) is a complex number True

In [12]:
# Displays the unique id of any variable in python
print(id(var1),id(var2),sep="\n")

2584584612432
2584670363056

#### Operators
* Operators are constraints which can help manipulate the value of operands
1. Arithmatic Operators
    * Used to perform mathematical operations like addition, sub, mul, etc

In [13]:
var1,var2=5,2

In [14]:
print(var1-var2)
print(var1+var2)
print(var1*var2)
print(var1/var2)
print(var1//var2)
print(var1%var2)
print(var1**var2)

3
7
10
2.5
2
1
25

2. Comparision Operator
    * Comparision operator are used to compare values, It either returns True or False according to the condition

In [15]:
print(var1>var2)
print(var1<var2)
print(var1==var2)
print(var1!=var2)

True
False
False
True

3. Logical Operators
    * Logical operators: "and", "or", "not"

In [16]:
var1,var2=True,False
print(var1 and var2)
print(var1 or var2)
print(not var2)

False
True
True

4. Bitwise Operators
    * This acts like an operators as if they are string of binary digits. It operates bit by bit

In [17]:
var1,var2=3,7
print(var1&var2)    # Bitwise AND -> 0000 0011 & 0000 0111 -> 0000 0011

3

In [18]:
print(var1| var2)

7

In [19]:
print(var1 ^ var2)

4

In [20]:
print(~var2)

-8

Assignment Operators

In [21]:
var3=40
var3+=4
print("{}".format(var3))
var3-=8
print(var3)
var3*=4
print(var3)
var3/=2
print(var3)
var3%=10
print(var3)

44
36
144
72.0
2.0

#### Python Statements

In [22]:
# Multi-Line statements
numbers= 1+2+3+ \
        4+5+6+ \
        7+8+9
print(numbers)

45

In [23]:
# or
numbers= (1+2+3+ 
        4+5+6+ 
        7+8+9)
print(numbers)

45

#### Python Indentation
    * Unlike C, C++, Java where we use braces {} to define a block of code. In python we use indentation

In [24]:
var1=20
    var2=30

IndentationError: unexpected indent (3706962954.py, line 2)

In [25]:
if var1==20:
print("var1 is equal to 20")

IndentationError: expected an indented block (1359215447.py, line 2)

#### Conditional Statements
    * Control or Conditional Statements allow to check conditions and change the behavior of a program

In [26]:
number=14
if number<15:
    print("\tNumber is less than 15")
    print("\tThis is within the if block")
# This is a default print statement
print("Outside of the if block")

	Number is less than 15
	This is within the if block
Outside of the if block

In [27]:
age=17
if age>=18:
    print("Adult")
else:
    print("Child")

Child

In [28]:
# Nested if statements
age=14
if age>=13:
    if age<=19:
        print("Teenager")
    else:
        print("Adult")
else:
    print("Child")
print("This is default print and wil always be executed")

Teenager
This is default print and wil always be executed

In [29]:
# Input function asks the user's input
# Input function by default is a string type so we need to type-cast it to a desired type

age=int(input("Enter the age of the Student : "))
if age>=13:
    if age<=19:
        print("Teenager")
    else:
        print("Adult")
else:
    print("Child")
print("This is default print and wil always be executed")

Enter the age of the Student :

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# if, elif, else

marks=float(input("Enter students Marks: "))
if marks>90:
    print("Grade A")
elif marks<=90 and marks >80:
    print("Grade B")
elif 70<marks<=80:
    print("Grade C")
elif 60<marks<=70:
    print("Grade C")
elif 50<marks<=60:
    print("Grade C")
else: print("Fail")

#### Ternary Operator
    * Ternary Operator also known as conditional statements, test a condition in a single line, replacing multiple line if, else, elif.
    * Syntax: [on_true] if [expression] else [on_false]

In [30]:
# Syntax: [on_true] if [expression] else [on_false]

In [31]:
a,b= 10,20
max=a if a>b else b

In [32]:
print(max)

20

In [33]:
brother = float(input("Enter brother's Age: "))
sister = float(input("Enter sister's Age: "))
if brother>sister:
    print("Brother is elder")
elif sister>brother:
    print("Sister is elder")
else:
    print("Both are twins")

Enter brother's Age:

ValueError: could not convert string to float: ''

In [34]:
# Syntax: [on true] if [expression] else [on true] if [expression] else [on false]

brother = float(input("Enter brother's Age: "))
sister = float(input("Enter sister's Age: "))
output="Both are twins" if brother==sister else "sister is elder" if sister>brother else "brother is elder"
print(output)

Enter brother's Age:

ValueError: could not convert string to float: ''

#### While Loop
    * use while loop to iterate over a block of code as long as test expression is true or break statement is found

In [35]:
mylist=[10,20,30,40,50,60,70,80,90]
index=0
while index<len(mylist):
    print(mylist[index])
    index+=1

10
20
30
40
50
60
70
80
90

In [36]:
index,sum=0,0
while index<len(mylist):
    sum+=mylist[index]
    index+=1
print(sum)

450

#### While loop with else

* while loop in python have an optional else part
* the statements in else will be executed when condition is not fulfilled anymore

In [37]:
guess_value_on_die=5
guess=0
while guess!=guess_value_on_die:
    guess=int(input("Enter the Number: "))
    if guess>0:
        if guess>guess_value_on_die:
            print("Number is too large")
        elif guess<guess_value_on_die:
            print("Number is too small")
    else:
        print("Sorry that you are giving up!")
        break
else:
    print("Congratulations! You have made it!")

Enter the Number:

ValueError: invalid literal for int() with base 10: ''

#### For Loop
* python for loop is an iterator based for loop. it steps through the items of the list, tuples, strings, keys of dicts and other iterables

In [38]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Find list of even digit numbers 
Problem Statement: Write a program which will print numbers between 1000 and 3000 (both included) such that each number is an even number

In [39]:
l=[i for i in range(1000,3001) if i%2==0]
print(l)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

In [40]:
start,end,list=1000,3000,[]
while start<=end:
    if start%2==0:
        list.append(start)
    start+=1
print(list)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

#### List of all prime numbers between 1 to 100

In [41]:
primes=[]
for num in range(1,101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
               break
        else:
            primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [42]:
primes=[]
for num in range(2,101):
    count=0
    for j in range(2,num//2+1):
        if num%j==0:
            count=1
            break
    if count==0:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### Loop and Dictionary Exerises

In [43]:
# keys=["M","A","N","G"]
# values=["Meta","Apple","Netflix","Google"]
# expected output: {"M":"Meta".......}

In [44]:
keys=["M","A","N","G"]
values=["Meta","Apple","Netflix","Google"]
mang_company=dict(zip(keys,values))
print(mang_company)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [45]:
dictio={}
for i,j in zip(keys,values):
    dictio[i]=j
print(dictio)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [46]:
dictio={}
for i in range(len(keys)):
    dictio[keys[i]]=values[i]
print(dictio)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [49]:
dictio={}
start=time.time()
for i in range(len(keys)):
    dictio.update({keys[i]:values[i]})
end=time.time()
print(dictio)
print("Duration in seconds: ",end-start)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}
Duration in seconds:  0.0

In [48]:
import time
print(time.time())

1677230876.797429

#### Exercise: Create a dict by extracting the keys from a given dict

In [51]:
sample_dict={
    "name":"XYZ",
    "age":29,
    "salary":100000,
    "city":"new york",
    "contact":9876543210
}

# Keys to extract
keys=["name","salary"]

final_dict={}

for i in keys:
    if i in sample_dict.keys():
        final_dict.update({i:sample_dict[i]})
print(final_dict)

{'name': 'XYZ', 'salary': 100000}

In [52]:
final_dict={i:sample_dict[i] for i in keys if i in sample_dict.keys()}
print(final_dict)

{'name': 'XYZ', 'salary': 100000}

In [53]:
print({i:sample_dict[i] for i in keys if i in sample_dict.keys()})

{'name': 'XYZ', 'salary': 100000}

#### Exercise: Scan all keys from dictionary and get a key with minimum value

In [56]:
sample_marks={
    "physics":89,
    "maths":78,
    "history":65
}

print(min(sample_marks,key=sample_marks.get))

history

#### Exercise: Find frequency of each word from a given input string

In [63]:
sample_str="mumbai delhi delhi hyderabad nagpur hyderabad guwahati delhi"
freq_dict={}
for i in sample_str.split():
    if i in freq_dict.keys():
        freq_dict[i]+=1
    else:
        freq_dict[i]=1
print(freq_dict)

{'mumbai': 1, 'delhi': 3, 'hyderabad': 2, 'nagpur': 1, 'guwahati': 1}

In [65]:
sample_str_copy=sample_str.split().copy()
print(sample_str_copy)
freq_list=[]
while len(sample_str_copy)!=0:
    if sample_str_copy.count(sample_str_copy[0])>1:
        freq_list.append("Frequency of",sample_str_copy[0],"is",sample_str_copy.count(sample_str_copy[0]))
        for _ in range(sample_str_copy.count(sample_str_copy[0])):
            sample_str_copy.remove
    else:
        freq_list.append("Frequency of",sample_str_copy[0],"is",sample_str_copy.count(sample_str_copy[0]))

['mumbai', 'delhi', 'delhi', 'hyderabad', 'nagpur', 'hyderabad', 'guwahati', 'delhi']

#### Functions
* In programming, we define a function to make reusable code that preforms simalar operations. It is block of organised code written to perform a certain task.
* Informations can be passed into functions as arguments
* Parameters are specific after the function name within paranthesis.
* Syntax: function_name(arg1, arg2, ....)
* A function in python is declared in python using "def" keyword.
* A function may or may not have return data.

In [66]:
# Declaration of function
def myfunc():
    print("Hello python lovers!")

In [67]:
# Call function
myfunc()

Hello python lovers!

#### Function with Parameters

In [72]:
def greetings(name):
    '''
    This function greets a person by its name
    '''
    print("Hello {}, Good Evening!".format(name))
greetings("Dharan")

Hello Dharan, Good Evening!

In [73]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [74]:
# __doc__ is used to get the documentation of the functions 
print(greetings.__doc__)

    This function greets a person by its name

In [76]:
# Function with two arguments
def add(var1,var2):
    var3=var1+var2
    # %s for string
    # %d %i for integers
    # %f for floats
    print("Sum of two numbers is {}".format(var3))
add(10,39)

Sum of two numbers is 49

In [78]:
# Function with return statement

def greetings(name):
    statement="Hello "+name+" Good Evening"
    return statement

# Calling a function
greetings("Arya")

'Hello Arya Good Evening'

#### Exercise: Create a function Calculator takes 3 parameters, two numbers and one operator

In [82]:
def Calculator(val1,val2,operator):
    if operator=="+":
        return val1+val2 
    elif operator=="-":
        return val1-val2 
    elif operator=="*":
        return val1*val2
    elif operator=="/":
        return val1/val2
    elif operator=="%":
        return val1%val2

Calculator(float(input("Enter 1st number: ")),float(input("Enter 2nd number: ")),str(input("Enter the operator: ")))

Enter 1st number: 1
Enter 2nd number: 89
Enter the operator: %

1.0

In [96]:
def Calculator(val1,val2,operator): return val1+val2 if operator=="+" else val1-val2 if operator=="-" else val1/val2 if operator=="/" else val1*val2 if operator=="*" else val1%val2 if operator=="%" else "Invalid Operation"
Calculator(float(input("Enter 1st number: ")),float(input("Enter 2nd number: ")),str(input("Enter the operator: ")))

Enter 1st number: 10
Enter 2nd number: 20
Enter the operator: _

'Invalid Operation'

#### Scope of Variable

In [102]:
# Local Scope
var="global variable"
def inner():
    var="inner variable"
    print(var)
inner()
print(var)

inner variable
global variable

In [103]:
# Global Variable
var="global variable"
def inner():
    var1="inner variable"
    print(var)
inner()

global variable

In [105]:
# Enclosed Scope
var="global variable"
def outer():
    var="outer variable"
    def inner():
        print(var)
    inner()
outer()
print(var)

outer variable
global variable

#### Happy Learning