23/2/2022 - Python

Scala - Functional Programming language
SPARK - Big Data 


====== Applications of Python:

Web Development and GUI Application - Django Framework
Machine learning - sklearn
Data Analytics - From Numpy
AI - ML will be subset to AI
IOT - Machine to Machine



Numpy - Mathematical operations
Pandas - Data cleaning, Data handling and Data pre-processing
Scipy - Statistical operations (Hypothesis Testing-Advanced)
Matplotlib - Basic Data Visualization
Seaborn - Advanced Data Visualization
Plotly - Interactive and Complex Data Visualization
Scikit learn - Machine Learning 
Tensorflow - Deep learning


====== Environments of Python:
Python	Scientific - Jupyter Notebook, Google colab, Pycharm, Spyder
Python	Basic - GUI, Command Line



====== Advantages of Anaconda:
Big Data Support and 400+ Packages are pre-installed


====== Setting up of Jupyter Notebook
Refer Python Day 1.ipynb Jupyter Notebook for furthur notes

In [4]:
#ShortCuts for JupyterNotebook                Alt+Enter, Ctrl+Enter, Shift+Enter

In [5]:
# This is syntax of Python Comment

In [7]:
'''
This is syntax for Paragraph
This is also syntax for Multi-Line Comment in Python
'''
print("Hello World")

Hello World

#### Variables

In [9]:
1var=10

SyntaxError: invalid syntax (1521661254.py, line 1)

In [10]:
@var=10

SyntaxError: invalid syntax (4216600962.py, line 1)

In [11]:
_var=10

In [12]:
_=100

In [15]:
# invalid syntax for your variable declaration
import =100

SyntaxError: invalid syntax (4047433562.py, line 2)

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
# len() - It returns the length of list of keywords 
len(keyword.kwlist)

36

#### Primitive Data Types
* int
* float 
* complex
* string 
* boolean

In [18]:
# This is integer Data Type
var1 = 10

In [19]:
# Returns Integer Data Type
type(var1)

int

In [20]:
# prints value of variable
print(var1)

10

In [22]:
# This is float data type
var2=2.3456

In [23]:
type(var2)

float

In [24]:
var3="This is string Data type"
var4='This is string data type'

In [25]:
print(var3,var4)

This is string Data type This is string data type

In [26]:
type(var3)
type(var4)

str

In [27]:
?type  # To see the documentation about a particular function

Object `type  # To see the documentation about a particular function` not found.

In [28]:
# real + imaginary part
var6=23+56j

In [29]:
# only imaginary part only
var7=12j

In [30]:
print(type(var6),type(var7))

<class 'complex'> <class 'complex'>

In [31]:
# Boolean Data Type

bool1=True
bool2=False

In [33]:
print(bool1)
print(bool2)

True
False

In [34]:
23+45

68

In [36]:
23**2

529

In [37]:
import sys

In [40]:
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [42]:
import platform
print(platform.python_version())

3.9.13

#### String Methods

In [43]:
# String Indexing

# Forward indexing starts from 0 to so-on
# Backward indexing starts from -1 to negative values

In [44]:
str1="this is python string1"
str2="This is python string2"

In [47]:
# Concatenation of Strings
str1+" "+str2

'This is python string1 This is python string2'

In [48]:
str3=str1+" "+str2
print(str3)

This is python string1 This is python string2

In [49]:
str3.capitalize()

'This is python string1 this is python string2'

In [50]:
str3.title()

'This Is Python String1 This Is Python String2'

In [54]:
str3.lower().count(" is ")

2

In [80]:
str5="This, is, Python, session, we, are, learning, python programming"
# separator or delimitor = , " "
print(str5.split(", "))

['This', 'is', 'Python', 'session', 'we', 'are', 'learning', 'python programming']

In [79]:
str5.split(", ")[1]

'is'

In [83]:
str6="Data engineering with python"
str6.partition(" with ")

('Data engineering', ' with ', 'python')

#### Indexing and Slicing

In [55]:
str4="This is TEK Python Session. We are learning about python basics"

In [56]:
str4[0]

'T'

In [57]:
str4[-1]

's'

In [58]:
str4[8]

'T'

In [59]:
str4[-6]

'b'

In [61]:
# 'find' returns the index of a specific word or even a character at the first occurance
str4.find("TEK")

8

In [62]:
str4.lower().find('python') # finds only the first occurances index of the particular character or the word.

12

#### String Sicing

In [63]:
# String[start index: stop index: step size]
# by default the start index=0, stop index= -1(End of Line), step size=1

In [64]:
str4[:]

'This is TEK Python Session. We are learning about python basics'

In [65]:
str4[8:26]

'TEK Python Session'

In [66]:
str4.find("Session")

19

In [67]:
str4[8:26:2]

'TKPto eso'

In [71]:
str4[-1:-7:-1]

'scisab'

In [72]:
# Reverse the whole string
str4[::-1]

'scisab nohtyp tuoba gninrael era eW .noisseS nohtyP KET si sihT'

### Data Structures in Python

#### Lists

* lists: mutable, heterogenous collection of data types, modifications are allowed 
* declared as list=[]
* declared as list()
* duplicate values are allowed

In [84]:
# Empty list declaration
list1=[]
list2=list()

In [85]:
list1=[123456,987654321,12345.891,"This is list session",123+66j,True,False]

In [86]:
# Concatenation - collection of 
list1=[123456,987654321,12345.891,"This is list session"]
list2=["True",True,False,101010101,23+66j]

In [88]:
print(list1+list2)

[123456, 987654321, 12345.891, 'This is list session', 'True', True, False, 101010101, (23+66j)]

In [89]:
# Nested Lists
list3=[123456,987654321,12345.891,"This is list session",["True",True,False,23+66j]]

#### Methods of Lists

In [90]:
print(list1)

[123456, 987654321, 12345.891, 'This is list session']

In [91]:
# list1.append(True)

In [92]:
print(list1)

[123456, 987654321, 12345.891, 'This is list session', True]

In [93]:
list1.append([123456,1010101])

In [94]:
print(list1)

[123456, 987654321, 12345.891, 'This is list session', True, [123456, 1010101]]

In [95]:
# It clears all the values from the list and make it as an empty list
list2.clear()

In [96]:
print(list2)

[]

In [97]:
# Permanently deletes the variable from the memory
del(list2)

In [98]:
print(list2)

NameError: name 'list2' is not defined

In [99]:
# Shallow Copy
# copies the values of one list into another
list2=list1.copy()

In [100]:
# Deep Copy or Copy by reference
list4=list1

In [102]:
print(list2)
print(list4)

[123456, 987654321, 12345.891, 'This is list session', True, [123456, 1010101]]
[123456, 987654321, 12345.891, 'This is list session', True, [123456, 1010101]]

In [103]:
list1.append("List")

In [104]:
print(list2)

[123456, 987654321, 12345.891, 'This is list session', True, [123456, 1010101]]

In [105]:
print(list4)

[123456, 987654321, 12345.891, 'This is list session', True, [123456, 1010101], 'List']

In [106]:
# count() - Count function returns the count of an element present in the list
list1.count(True)

1

In [107]:
list1.count("Dharan")

0

In [108]:
# appends individual elements into another list
list1.extend([123456,1010101,True,False])

In [109]:
print(list1)

[123456, 987654321, 12345.891, 'This is list session', True, [123456, 1010101], 'List', 123456, 1010101, True, False]

In [110]:
# Returns index of individual element in the list
print(list1.index(True))

4

In [111]:
# Inserts an object at specific index position
list1.insert(3,"This is a new list after insert function usage")
print(list1)

[123456, 987654321, 12345.891, 'This is a new list after insert function usage', 'This is list session', True, [123456, 1010101], 'List', 123456, 1010101, True, False]

In [112]:
# removes the element from list with the help of index position, and the default value is -1
list1.pop()
print(list1)

[123456, 987654321, 12345.891, 'This is a new list after insert function usage', 'This is list session', True, [123456, 1010101], 'List', 123456, 1010101, True]

In [113]:
# remove() removes the element by value
list1.remove('This is list session')
print(list1)

[123456, 987654321, 12345.891, 'This is a new list after insert function usage', True, [123456, 1010101], 'List', 123456, 1010101, True]

In [114]:
# Sort is not valid for heterogenous lists

In [115]:
print(list1)
list1.reverse()
print(list1)

[123456, 987654321, 12345.891, 'This is a new list after insert function usage', True, [123456, 1010101], 'List', 123456, 1010101, True]
[True, 1010101, 123456, 'List', [123456, 1010101], True, 'This is a new list after insert function usage', 12345.891, 987654321, 123456]

#### Indexing and slicing in Lists

In [118]:
print(list1)
print(list1[::-1])

[True, 1010101, 123456, 'List', [123456, 1010101], True, 'This is a new list after insert function usage', 12345.891, 987654321, 123456]
[123456, 987654321, 12345.891, 'This is a new list after insert function usage', True, [123456, 1010101], 'List', 123456, 1010101, True]

In [119]:
print(list1[0])
print(list1[-1])
print(list1[::2])

True
123456
[True, 123456, [123456, 1010101], 'This is a new list after insert function usage', 987654321]

In [122]:
print(list1[0:len(list1)])

[True, 1010101, 123456, 'List', [123456, 1010101], True, 'This is a new list after insert function usage', 12345.891, 987654321, 123456]

In [123]:
# Accessing individual elements from mlist of list
print(list1[4][1])

1010101

#### Tuples
* tuples: Immutable collection of data objects
* cant remove the elements from the tuples
* empty tuple is represented by "()" or "tuple()"
* tuples are faster than lists
* when data is not meant to be changed, tuples are used
* Tuples take less memory compared to list
* tuples are static

#### Sets
* sets: well defined collection of unique elements
* no duplicates are allowed
* represented by set()

#### Dictionaries
* should follow uniqueness in terms of key
* they are key, value pairs represented in between {}

In [125]:
# Empty tuple declaration
tuple1=()
tuple1=tuple()

In [131]:
tuple1=(123456,987654321,12345.891,"This is list session",123+66j,True,False,123456)

In [132]:
print(tuple1.count(123456))
print(tuple1.index(True))

2
5

In [133]:
# can't update existing tuple value
tuple1[0]=1

TypeError: 'tuple' object does not support item assignment

In [134]:
print(list1)

[True, 1010101, 123456, 'List', [123456, 1010101], True, 'This is a new list after insert function usage', 12345.891, 987654321, 123456]

In [135]:
# Updating of list is possible in the following way
list1[0]=False
print(list1)

[False, 1010101, 123456, 'List', [123456, 1010101], True, 'This is a new list after insert function usage', 12345.891, 987654321, 123456]

#### Sets
* Sets are unique collection of items and no duplicate items are allowed
* sets are unordered and has no index attached to any element
* it is mutable and heterogenous collection
* set is initialised with the help of set() function

In [136]:
set1=set()
print(type(set1))

<class 'set'>

In [137]:
set1={"this is a set",12345,"Apple","Grapes",True,False,908172}

In [138]:
A={'A',"B","C","D","F","H"}
B={"G","H","I","F","D"}
C={"A","N","O","P","H","D"}

In [140]:
A.intersection(B)

{'D', 'F', 'H'}

In [141]:
A.intersection(B,C)

{'D', 'H'}

In [142]:
# Alternative method for Intersection
A&B&C

{'D', 'H'}

In [143]:
A|B|C

{'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'N', 'O', 'P'}

In [145]:
# Alternative method for union of sets
A.union(B,C)

{'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'N', 'O', 'P'}

In [146]:
A.difference(B)

{'A', 'B', 'C'}

In [147]:
A-B

{'A', 'B', 'C'}

In [148]:
B-A

{'G', 'I'}

In [149]:
myset1={1234567,True,False,"Apple","Papaya",23+66j}
print(myset1)

{False, True, 'Papaya', 1234567, 'Apple', (23+66j)}

In [150]:
# adding is for individual values
myset1.add(1010101)

In [155]:
print(myset1)

{False, True, 'Papaya', 1010101, 1234567, 'Apple', (23+66j)}

In [156]:
# To update existing set with multiple values at once
myset1.update(["ten","eleven","twelve"])

In [159]:
print(myset1)

{False, True, 1234567, 'Apple', 'twelve', 'Papaya', (23+66j), 'eleven', 1010101, 'ten'}

In [160]:
myset1.pop()

False

In [169]:
list1=[123456, 987654321, 12345.891, True,True, False, True, [123456, 1010101], 'List', 123456, 1010101, True]

In [170]:
list1.pop(0)

123456

In [171]:
list1.remove(1)
print(list1)

[987654321, 12345.891, True, False, True, [123456, 1010101], 'List', 123456, 1010101, True]

In [172]:
list1.remove(0)
print(list1)

[987654321, 12345.891, True, True, [123456, 1010101], 'List', 123456, 1010101, True]

#### Dictionary
* mutable collections of keys and values pair, where keys are unique, but the values may or may not be unique
* The values inside the dict can be altered

In [173]:
dict1={}
print(type(dict1))

<class 'dict'>

In [175]:
first_emp={"empid":"TEK1001","name":"Dharan","age":21,"city":"Hyderabad"}

In [176]:
print(first_emp)

{'empid': 'TEK1001', 'name': 'Dharan', 'age': 21, 'city': 'Hyderabad'}

In [177]:
fruit_basket=dict([("A","Apple"),("B","Banana"),("C","Carrot"),("G","Grapes")])
print(fruit_basket)

{'A': 'Apple', 'B': 'Banana', 'C': 'Carrot', 'G': 'Grapes'}

In [178]:
# return list of tuples of items present in the dict()
first_emp.items()

dict_items([('empid', 'TEK1001'), ('name', 'Dharan'), ('age', 21), ('city', 'Hyderabad')])

In [179]:
first_emp.keys()

dict_keys(['empid', 'name', 'age', 'city'])

In [180]:
first_emp.values()

dict_values(['TEK1001', 'Dharan', 21, 'Hyderabad'])

In [182]:
# keys from dict are used to fetch values
first_emp["empid"]

'TEK1001'

In [183]:
# Creating a new key for an existing dict()
first_emp["Salary"]=60000

In [184]:
print(first_emp)

{'empid': 'TEK1001', 'name': 'Dharan', 'age': 21, 'city': 'Hyderabad', 'Salary': 60000}

In [187]:
first_emp["age"]=22
print(first_emp)

{'empid': 'TEK1001', 'name': 'Dharan', 'age': 22, 'city': 'Hyderabad', 'Salary': 60000}

In [188]:
# Update method is used to update the prev dict with the new dict with the new values
# dict1={}
# dict2={}
# dict1.update(dict2)

first_emp.update({"city":"Bangalore"})
print(first_emp)

{'empid': 'TEK1001', 'name': 'Dharan', 'age': 22, 'city': 'Bangalore', 'Salary': 60000}

In [189]:
# Removes the values by using key
first_emp.pop("empid")

'TEK1001'

In [191]:
print(first_emp)

{'name': 'Dharan', 'age': 22, 'city': 'Bangalore', 'Salary': 60000}

#### Nested Dictionary
* Dicts inside another dict()
* Used to store heterogenous data types in a structured format

In [205]:
teksystems={
    "firstemp":{
        "empid":101,
        "name":"Dharan",
        "salary":60000
    },
    "secondemp":{
        "empid":102,
        "name":"Tarandeep",
        "salary":62000
    },
    "thirdemp":{
        "empid":103,
        "name":"Charan",
        "salary":61000
    },
    "sampleemp":{
        "empid":104,
        "name":{
            "surname":"Pusthakala",
            "firstname":"Dharan",
            "lastname":"Tej"
        },
        "salary":{
            "pf":10000,
            "base":100000,
            "hra":12000
        }
    }
}

In [206]:
print(teksystems["firstemp"])

{'empid': 101, 'name': 'Dharan', 'salary': 60000}

In [207]:
print(teksystems["firstemp"]["name"])

Dharan

In [208]:
# Modifying the elements of the nested dictionaries
teksystems["firstemp"]["salary"]=100000
print(teksystems["firstemp"])
print(teksystems["firstemp"]["salary"])

{'empid': 101, 'name': 'Dharan', 'salary': 100000}
100000

In [209]:
print(teksystems["sampleemp"])

{'empid': 104, 'name': {'surname': 'Pusthakala', 'firstname': 'Dharan', 'lastname': 'Tej'}, 'salary': {'pf': 10000, 'base': 100000, 'hra': 12000}}

In [210]:
print(teksystems["sampleemp"]["name"])

{'surname': 'Pusthakala', 'firstname': 'Dharan', 'lastname': 'Tej'}

In [211]:
print(teksystems["sampleemp"]["name"]["surname"])

Pusthakala

In [212]:
print(teksystems["sampleemp"]["salary"])

{'pf': 10000, 'base': 100000, 'hra': 12000}

In [213]:
print(teksystems["sampleemp"]["salary"]["base"])

100000

## Unassisted Practice Questions

1. Create nested Dictionary
2. Create 3 dicts then create one dict that will contain the other 3 dicts
3. Access key-values using get() method
4. Update an existing key's values
5. Check if key exists?
6. Delete entire dict
7. Make a copy of dict using copy() method

## Codes

In [266]:
#1
teksystems={
    "firstemp":{
        "empid":101,
        "name":"Dharan",
        "salary":60000
    },
    "secondemp":{
        "empid":102,
        "name":"Tarandeep",
        "salary":62000
    },
    "thirdemp":{
        "empid":103,
        "name":"Charan",
        "salary":61000
    },
    "sampleemp":{
        "empid":104,
        "name":{
            "surname":"Pusthakala",
            "firstname":"Dharan",
            "lastname":"Tej"
        },
        "salary":{
            "pf":10000,
            "base":100000,
            "hra":12000
        }
    }
}

In [267]:
#2
dictone=[("name","abc"),("place","def")]
dicttwo=[("name","ghi"),("place","jkl")]
dictthree=[("name","mno"),("place","pqr")]
finaldict={
    "first":dict(dictone),
    "second":dict(dicttwo),
    "third":dict(dictthree)
}

print(finaldict)

{'first': {'name': 'abc', 'place': 'def'}, 'second': {'name': 'ghi', 'place': 'jkl'}, 'third': {'name': 'mno', 'place': 'pqr'}}

In [268]:
#3
teksystems.get("firstemp").get("name")

'Dharan'

In [269]:
#4
teksystems["firstemp"]["empid"]=100
print(teksystems["firstemp"])

{'empid': 100, 'name': 'Dharan', 'salary': 60000}

In [270]:
#5
# ans=False
# for i in teksystems.keys():
#     if i=="firstemp":
#         ans=True
#         break
#     else:
#         ans=False
# print(ans)

# or

print(teksystems.get("firstemp"))

{'empid': 100, 'name': 'Dharan', 'salary': 60000}

In [271]:
#7
teksystemscopy=teksystems.copy()
print(teksystemscopy)

{'firstemp': {'empid': 100, 'name': 'Dharan', 'salary': 60000}, 'secondemp': {'empid': 102, 'name': 'Tarandeep', 'salary': 62000}, 'thirdemp': {'empid': 103, 'name': 'Charan', 'salary': 61000}, 'sampleemp': {'empid': 104, 'name': {'surname': 'Pusthakala', 'firstname': 'Dharan', 'lastname': 'Tej'}, 'salary': {'pf': 10000, 'base': 100000, 'hra': 12000}}}

In [264]:
#6
del(teksystems)
print(teksystems)

NameError: name 'teksystems' is not defined